<div>
  <div id="login" style="width: 90%;height: auto; margin:auto; text-align: center">
    <p id="loginMessage" >Not Logged In yet!</p>
    <img id="userImg" src="{{user.photoUrl}}" style="width: 200px;height:200px">
    <div>
      <h4 id = "userName">{{ user.name }}</h4>
      <p id = "userEmail">{{ user.email }}</p>
    </div>
    <div id="buttons" style="margin-top: 10px; margin-bottom: 10px;">
      <a id="googleSignIn" class="button is-primary" style="margin-right:5px" (click)= "googleLogin()">
        Google Login
      </a>
      <a id="googleSignOut" class="button is-danger" (click)="signOut()">
        Sign Out
      </a>
    </div>
  </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            Enter a city you wish to know the weather of  
          </h1>
          
          <div >
            <div class="field has-addons">
                
                
                <div class="control">
                  <input id="loc" class="input is-rounded is-large"type="text" value="Vancouver,CA">

                </div>
                <p class="control">                
                <a class="button is-large is-rounded" (click)="init()" >
                  <span class="icon is-small">
                    <i class="fas fa-search"></i>
                  </span>
                  <span>Search</span>
                </a>
              </p>
             
            </div>
          </div>
                   
        </div>
      </div>
    </div>

  <section>
    <app-result></app-result>
  </section>

</div>