<nav class="navbar" role="navigation" aria-label="main navigation" style="text-align: center">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu"  style="margin: auto">
    <div class="navbar-start">
        <a routerLink="/main" routerLinkActive="active" class="navbar-item">
          Home
        </a>

        <a routerLink="/saved-cities" routerLinkActive="active" class="navbar-item">
          Saved Cities
        </a>
        
    </div><!-- End of NAV-START -->

    <div class="navbar-end">
      <div  class="navbar-item" >
        
        
      </div>
    </div><!-- End of NAV-END -->
  </div>
</nav>