<section class="hero is-dark is-fullheight">
  <section class="hero" >
    <div class="hero-body" style="padding: 3px" >
      <div class="container">
        <h1 class="title" >
          Forecast Channel
        </h1>
        <h2 class="subtitle">
          Your weather hub! 
        </h2>
      </div>
    </div>
    <app-navbar></app-navbar>
    <div id="titlepage">
      Welcome to the Forcast Channel! Click the Home button to search for a city!
    </div>
    <router-outlet></router-outlet>
  </section>

